# do it for node modules inside the folders and the .venv folder

# Node modules
node_modules/
# Python virtual environment
.venv/
videos/
output/
manim-videos/media/
manim-videos/slides/
manim-videos/*.html
beamer_demo_assets/

## __pycache__ directories
__pycache__/
